* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;

  background-color: #16304b;

  font-family: "IBM Plex Mono";
  color: #f1e2cf;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}